.timer {
  margin-top: 2rem;
  .wrapper {
    color: var(--primary-font-color);
    padding: 0 2rem;
    .title {
      text-align: center;
      font: var(--font-heading-m);
      text-transform: uppercase;
    }

    .timerWrapper {
      display: grid;
      grid-template-columns: repeat(7, auto);
      align-items: center;
      justify-content: center;
      font-size: 2rem;

      .timeItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
      }

      .timeItemNumber {
        font: var(--font-number-xl);
        font-weight: bold;
      }

      p {
        font: var(--font-heading-s);
      }

      span {
        font-size: 2.5rem;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}
