.greating {
  .wrapper {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    .mainGreating {
      font-size: 26px;
      font: var(--font-main-l)
    }
    .greatingText {
      p {
        margin-top: 1rem;

      }
    }
    .dateTime {
      margin-top: 1rem;
      //font-size: 6px;
      text-align: center;
    }
  }
}
