.greating {
  margin-top: 2rem;
  .wrapper {
    color: var(--primary-font-color);
    padding: 0 2rem;
    .mainGreating {
      text-align: center;
      font: var(--font-heading-xl);
      text-transform: uppercase;
    }
    .greatingText {
      text-align: center;
    }
  }
}
