// @use "../../../app/style/fonts.scss";

//@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.greating {
  .wrapper {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    .mainGreating {
      font-size: 26px;
      font-family: var(--main-font-family);
      //font-family: "Great Vibes", cursive;
      font-weight: 500;
    }
    .greatingText {
      p {
        margin-top: 1rem;
      }
    }
    .dateTime {
      margin-top: 1rem;
      font-size: 46px;
      text-align: center;
    }
  }
}
