.contacts {
  margin-top: 2rem;
  .wrapper {
    padding: 0 2rem;
    color: var(--primary-font-color);
    .title {
      p {
        text-align: center;
        font: var(--font-heading-xl);
        text-transform: uppercase;
      }
    }
    .content {
      text-align: center;
      margin-top: 1rem;
      .number {
        margin-top: 1rem;
        font: var(--font-text-l);
      }
    }
  }
}
