@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.start {
  width: 100%;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    animation: zoomIn 2s ease-out forwards;
  }
  .title {
    position: absolute;
    top: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font: var(--font-heading-xxl);
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    //
    color: white;
  }
  .date {
    position: absolute;
    //bottom: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    //font: var(--font-number-xl);
    text-transform: uppercase;
    color: white;
    //text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    //
    top: 60px;
    font: var(--font-text-l);
  }
}
