.flowers {
  margin-top: 2rem;
  .wrapper {
    color: var(--primary-font-color);
    padding: 0 2rem;
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      p {
        text-align: center;
        font: var(--font-heading-xl);
        text-transform: uppercase;
      }

      .arrow {
        height: 30px;
        width: 30px;
        fill: var(--primary-font-color);
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
      }

      .rotate {
        transform: rotate(0deg);
      }
    }
    .content {
      //margin: 1rem 0;
      text-align: justify;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.5s ease, opacity 0.5s ease;
      will-change: max-height, opacity;
      p {
        margin: 0.5rem 0;
      }
      img {
        width: 100%;
      }
      .links {
        font: var(--font-text-l);
        margin: 1rem 0;
        a {
          text-decoration: none;
          color: var(--primary-font-color);
          text-align: center;
          margin: 0.5rem 0;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
        }
        .linkArrow {
          height: 20px;
          width: 20px;
          transform: rotate(90deg);
          fill: var(--primary-font-color);
        }
      }
    }

    .open {
      max-height: 1000px;
      opacity: 1;
    }
  }
}
