.dressCode {
  margin-top: 2rem;

  .wrapper {
    color: var(--primary-font-color);

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      p {
        text-align: center;
        font: var(--font-heading-xl);
        text-transform: uppercase;
      }

      .arrow {
        height: 30px;
        width: 30px;
        fill: var(--primary-font-color);
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
      }

      .rotate {
        transform: rotate(0deg);
      }
    }

    .content {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.5s ease, opacity 0.5s ease;
      will-change: max-height, opacity;

      .description {
        padding: 0 2rem;

        p {
          text-align: center;
          margin-top: 1rem;
        }
      }

      .references {
        margin-top: 2rem;
      }
      .moreDetails {
        margin-top: 1rem;
        padding: 0 2rem;
        .switcher {
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin: 1rem 0;
          .switchItem {
            display: flex;
            justify-content: center;
            align-items: center;
            font: var(--font-heading-l);
            cursor: pointer;
          }
          .active {
            text-decoration: underline;
            text-underline-offset: 6px;
          }
        }
        .switchContent {
          opacity: 1;
          transition: opacity 0.3s ease;
          .wCase,
          .mCase {
            .sum {
              margin-top: 1rem;
              ul {
                padding: 1rem 2rem;
              }
            }
          }
        }
        .fadeOut {
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        .fadeIn {
          opacity: 1;
          transition: opacity 0.3s ease;
        }
      }
    }

    .open {
      max-height: 1400px;
      opacity: 1;
    }
  }
}
