.areaRules {
  //margin-top: 2rem;
  .wrapper {
    color: var(--primary-font-color);
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      p {
        text-align: center;
        font: var(--font-heading-xl);
        text-transform: uppercase;
      }

      .arrow {
        height: 30px;
        width: 30px;
        fill: var(--primary-font-color);
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
      }

      .rotate {
        transform: rotate(0deg);
      }
    }

    .content {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.5s ease, opacity 0.5s ease;
      will-change: max-height, opacity;

      .contentTitle {
        text-align: center;
        margin-top: 1rem;
        padding: 0 1rem;
        font: var(--font-heading-m);
      }
      .rulesList {
        padding: 0 2rem;
        p {
          //text-align: center;
          margin-top: 1rem;
        }
      }
    }

    .open {
      max-height: 1400px;
      opacity: 1;
    }
  }
}
