.textInput {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  font: var(--font-text-m);

  input {
    padding: 0.5rem;
    font: var(--font-text-m);
    border: 1px solid var(--primary-font-color);
    border-radius: 5px;
  }

  .error {
    height: 16px;
    color: red;
    font-size: 12px;
  }
}
