@use "../fonts.scss";

:root {
  // fonts
  // cursive
  //--main-font-family: "Great Vibes", cursive;
  --main-font-family: "Caveat", cursive;
  //--main-font-family: "Marck Script", cursive;

  //--main-font-family: "Cormorant Infant", serif;

  //--heading-font-family: "Cormorant Garamond", serif;
  --heading-font-family: "Playfair Display SC", serif;
  //--heading-font-family: "Libre Baskerville", serif;

  --number-font-family: "Libre Baskerville", serif;

  //normal
  --text-font-family: "Nunito", sans-serif;

  --font-size-s: 14px;
  --font-line-s: 20px;
  --font-main-s: var(--font-size-s) / var(--font-line-s) var(--main-font-family);
  --font-heading-s: var(--font-size-s) / var(--font-line-s)
    var(--heading-font-family);
  --font-text-s: var(--font-size-s) / var(--font-line-s) var(--text-font-family);
  --font-number-s: var(--font-size-s) / var(--font-line-s)
    var(--number-font-family);

  --font-size-m: 18px;
  --font-line-m: 26px;
  --font-main-m: var(--font-size-m) / var(--font-line-m) var(--main-font-family);
  --font-heading-m: var(--font-size-m) / var(--font-line-m)
    var(--heading-font-family);
  --font-text-m: var(--font-size-m) / var(--font-line-m) var(--text-font-family);
  --font-number-m: var(--font-size-m) / var(--font-line-m)
    var(--number-font-family);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-main-l: var(--font-size-l) / var(--font-line-l) var(--main-font-family);
  --font-heading-l: var(--font-size-l) / var(--font-line-l)
    var(--heading-font-family);
  --font-text-l: var(--font-size-l) / var(--font-line-l) var(--text-font-family);
  --font-number-l: var(--font-size-l) / var(--font-line-l)
    var(--number-font-family);

  --font-size-xl: 30px;
  --font-line-xl: 38px;
  --font-main-xl: var(--font-size-xl) / var(--font-line-xl)
    var(--main-font-family);
  --font-heading-xl: var(--font-size-xl) / var(--font-line-xl)
    var(--heading-font-family);
  --font-text-xl: var(--font-size-xl) / var(--font-line-xl)
    var(--text-font-family);
  --font-number-xl: var(--font-size-xl) / var(--font-line-xl)
    var(--number-font-family);

  --font-size-xxl: 40px;
  --font-line-xxl: 50px;
  --font-main-xxl: var(--font-size-xxl) / var(--font-line-xxl)
    var(--main-font-family);
  --font-heading-xxl: var(--font-size-xxl) / var(--font-line-xxl)
    var(--heading-font-family);
  --font-text-xxl: var(--font-size-xxl) / var(--font-line-xxl)
    var(--text-font-family);
  --font-number-xxl: var(--font-size-xxl) / var(--font-line-xxl)
    var(--number-font-family);

  // colors
  --basic-bg-color: white;

  --primary-color: rgb(166, 185, 165);
  --primary-font-color: rgb(113, 64, 50);

  --secondary-color: #ccc;
}
