.locations {
  .wrapper {
    //background-color: var(--secondary-color);
    color: var(--primary-font-color);
    margin: 1rem;
    //padding: 1rem;
    border-radius: 1rem;
    .title {
      p {
        text-align: center;
        font: var(--font-heading-xl);
        text-transform: uppercase;
      }
    }
    .location {
      margin-top: 1rem;
      .locationInfo {
        text-align: center;
        .addres {
          margin-top: 0.5rem;
        }
        .description {
          margin-top: 0.5rem;
        }
      }
    }
    .locationMap {
      margin-top: 1rem;
      iframe {
        border-radius: 1rem;
      }
    }
  }
}
