.questionnaire {
  margin-top: 2rem;

  .wrapper {
    color: var(--primary-font-color);
    margin: 1rem;
    padding: 1rem;

    .title {
      text-align: center;
      font: var(--font-heading-xl);
      text-transform: uppercase;
    }

    .form {
      display: flex;
      flex-direction: column;
      //margin: 1rem auto;

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        font: var(--font-text-s);
      }

      fieldset {
        margin-top: 1rem;
        border: none;

        legend {
          font: var(--font-text-m);
        }

        .cb {
          margin-bottom: 1rem;
        }
      }
      .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        button {
          color: var(--primary-font-color);
          padding: 0.5rem;
          width: 40%;
          font: var(--font-text-m);
          cursor: pointer;
        }
      }
    }

    .thankYouMessage {
      text-align: center;
      font-size: 1.5rem;
      color: var(--primary-font-color);
      padding: 2rem;
      background-color: var(--primary-background-color);
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
