@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.timeLine {
  .wrapper {
    color: var(--primary-font-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    .title {
      p {
        text-align: center;
        font: var(--font-heading-xl);
      }
    }
    .schedule {
      margin-top: 1.5rem;
      width: 100%;
      .scheduleItem {
        margin-top: 1rem;
        display: grid;
        grid-template-rows: auto;

        opacity: 0;
        transform: translateY(-10px);
        animation: fadeIn 0.5s ease-in-out forwards;

        .eventData {
          display: grid;
          grid-template-columns: 1fr 3fr;
          gap: 1rem;
          align-items: center;

          .time {
            justify-content: center;
            display: flex;
            align-items: center;
            font: var(--font-number-l);
          }

          .event {
            display: flex;
            align-items: center;
            font: var(--font-heading-m);
          }
        }
        .eventAddData {
          //margin-top: -6px;
          display: grid;
          grid-template-columns: 1fr 3fr;
          gap: 1rem;
          .timeInfo {
          }
          .description {
            font: var(--font-text-s);
          }
        }
      }
    }
    .btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      .detailBtn {
        padding: 1rem;
        font: var(--font-text-m);
      }
      .arrow {
        height: 20px;
        width: 20px;
        fill: var(--primary-font-color);
        transform: rotate(180deg);
        transition: transform 0.2s ease-in-out;
      }
      .rotate {
        transform: rotate(0);
      }
    }
  }
}
