.timeLine {
  .wrapper {
    background-color: var(--secondary-color);
    color: var(--primary-font-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    .title {
      h2 {
        text-align: right;
      }
    }
    .schedule {
      margin-top: 1rem;
      width: 100%;
      .scheduleItem {
        margin-top: 0.5rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
        .time {
          text-align: center;
        }
        .info {
        }
      }
    }
  }
}
